:root {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}

html, body {
	height: 100%;
}

body {
	margin: 0px;
	color: #323232;
	background: #F9FBFF;
}

p {
	line-height: 18px;
}

.container {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding: 0 20px;
}

.navbar {
	display: table;
	width: 100%;
	padding: 10px 0 0;
}

.nav {
	list-style: none;
	margin: 0 0 10px;
	width: 50%;
	display: table-cell;
	padding: 6px 10px 8px;
	background: #313131;
	color: #F9FBFF;
}

.nav li {
	display: inline;
	padding: 0 2px;
}

.nav li a {
	text-decoration: none;
	color: inherit;
}

.nav li a:hover,
.nav .active a {
	text-decoration: underline;
}

.nav-right {
	text-align: right;
}

.footer {
	padding: 10px 0;
}

.table {
	width: 100%;
}

.mascot {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.mascot img {
	width: 200px;
	height: auto;
	display: block;
}