<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:title" content="bliinks.net">
        <meta property="og:description" content="this is an invite only website that Liam (YourAverageSoftmodder) made for OG bliish members to keep in touch so that if bliish ever goes away or blows up in popularity, our little gang can stick together. it also has an unfiltered chat so fucking swears and links and shit are allowed.">
        <meta property="og:url" content="https://bliinks.net">
        <meta property="og:image" content="https://bliinks.net/mascot_light_thumb.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="250">
        <meta property="og:image:height" content="250">

        <link rel="stylesheet" type="text/css" href="/global.css?v=0.0.2">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{% block title %}bliinks.net{% endblock %}</title>
    </head>
    <body>
        {% include "partials/header.html" %}

        {% block content %}{% endblock %}

        {% include "partials/footer.html" %}
    </body>
</html>
