{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
	<h1>haii omg haii :3</h1>
	<h2>Register</h2>

	{% if error %}<p class="error">{{ error }}</p>{% endif %}
	{% if success %}<p class="success">{{ success }}</p>{% endif %}

	<form action="/auth/register" method="POST">
		<input type="username" name="username" id="username" placeholder="Username"><br>
		<input type="password" name="password" id="password" placeholder="Password"><br>
		<input type="password" name="password-repeat" id="password-repeat" placeholder="Repeat password"><br>
		
		<img id="captcha_image" src="/captcha" alt="Captcha"><br>
		<a href="/auth/register{% if invite %}?invite={{ invite }}{% endif %}" class="captcha__button" id="captcha_refresh">
		    Refresh
		</a><br>
		<input type="text" name="captcha" id="captcha" placeholder="CAPTCHA"><br>

		{% if invite %}
		<input type="hidden" name="invite" value="{{ invite }}">
		{% endif %}

		<input type="submit" name="submit" value="Submit">
	</form>

	<p>
		Already have an account? <a href="/auth/login">Login</a>
	</p>
</div>

<script src="/captcha.js"></script>
{% endblock %}
